@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand: #22c55e;
  --color-bg-deep: #0b0b0b;
  --color-bg-surface: #171717;
  --color-bg-hover: #262626;
}

:root {
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-bg-deep);
  color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.glass {
  background: rgba(23, 23, 23, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
